server:
  port: 8055

timebase:
  url: dxtick://localhost:8011

connectors:
  coinbase:
    stream: coinbase
    depth: 20
    wsUrl: wss://ws-feed.exchange.coinbase.com
    apiKey: # API key as a string
    apiSecret: # API secret as a string
    passphrase: # Passphrase you specified when creating the API key
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "ETH-USD=ETH/USD,BTC-USD=BTC/USD,BTC-USDT=BTC/USDT,LTC-USD=LTC/USD"

  kraken-spot:
    stream: kraken-spot
    wsUrl: wss://ws.kraken.com
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "XBT/USD=BTC/USD,XBT/USDT=BTC/USDT,ETH/USD,ETH/USDT,USDT/USD"

  kraken-futures:
    stream: kraken-futures
    wsUrl: wss://futures.kraken.com/ws/v1
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "PF_XBTUSD,PI_XRPUSD,PF_ETHUSD,FI_XBTUSD_220930"

  bitmex:
    stream: bitmex
    wsUrl: wss://ws.bitmex.com/realtime
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "XBTUSD=BTC/USD,ETHUSD=ETH/USD"

  huobi-spot:
    stream: huobi-spot
    wsUrl: wss://api.huobi.pro/ws
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "btcusdt=BTC/USDT,ethbtc=ETH/BTC"

  huobi-futures:
    stream: huobi-futures
    wsUrl: wss://api.hbdm.com/ws
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC220930, LTC220930"

  bybit-linear-futures:
    type: bybit
    stream: bybit-linear-futures
    wsUrl: wss://stream.bybit.com/v5/public/linear
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTCUSDT=BTC/USDT,LTCUSDT=LTC/USDT,ADAUSDT=ADA/USDT"

  bybit-inverse-futures:
    type: bybit
    stream: bybit-inverse-futures
    wsUrl: wss://stream.bybit.com/v5/public/inverse
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "MANAUSD=MANA/USD,LTCUSD=LTC/USD,ETHUSD=ETH/USD"

  bybit-options:
    type: bybit
    stream: bybit-options
    wsUrl: wss://stream.bybit.com/v5/public/option
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC-26APR24-84000-C,BTC-26APR24-94000-C,BTC-26APR24-92000-P"

  bybit-spot:
    type: bybit
    stream: bybit
    wsUrl: wss://stream.bybit.com/v5/public/spot
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTCUSDT=BTC/USDT,ETHUSDT=ETH/USDT,XRPUSDT=XRP/USDT,ETHBTC=ETH/BTC,
                  XRPBTC=XRP/BTC,DOTUSDT=DOT/USDT,XLMUSDT=XLM/USDT"

  okex:
    stream: okex
    wsUrl: wss://ws.okex.com:8443/ws/v5/public
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC-UST=BTC/USD,BTC-USDT-220930"

  bitfinex:
    stream: bitfinex
    wsUrl: wss://api.bitfinex.com/ws/2
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "tBTCUSD=BTC/USD,tBTCEUR=BTC/EUR,tETCUSD=ETC/USD,tBTCF0:USTF0=BTCPC"

  bitmart:
    stream: bitmart
    wsUrl: wss://ws-manager-compress.bitmart.com/api?protocol=1.1
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC_USDT=BTC/USD,DOGE_USDC=DOGE/USD,ETH_USDT=ETH/USD"

  bitpanda:
    stream: bitpanda
    wsUrl: wss://streams.exchange.bitpanda.com
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC_EUR=BTC/EUR,ETH_EUR=ETH/EUR"

  cryptofacilities:
    stream: cryptofacilities
    wsUrl: wss://www.cryptofacilities.com/ws/v1
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "PI_XBTUSD, PF_LTCUSD, PF_ETHUSD"

  hitbtc:
    stream: hitbtc
    wsUrl: wss://api.hitbtc.com/api/3/ws/public
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTCUSDT=BTC/USDT, ETHBTC=ETH/BTC"

  poloniex:
    stream: poloniex
    wsUrl: wss://ws.poloniex.com/ws/public
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC_USDT=BTC/USDT,BTC_BNB=BTC/BNB,ADA_BTC=ADA/BTC,ETH_USDC=ETH/USDT"

  okcoin:
    stream: okcoin
    wsUrl: wss://real.okcoin.com:8443/ws/v3
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC-USD=BTC/USD, ETH-USD=ETH/USD"

  ascendex:
    stream: ascendex
    wsUrl: wss://ascendex.com/api/pro/v1/stream
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "BTC/USDT=BTC/USDT, ETH/USDT=ETH/USDT, BTC/USD=BTC/USD, ETH/USD=ETH/USD"

  binance-spot:
    stream: binance-spot
    wsUrl: wss://stream.binance.com:9443/ws
    restUrl: https://api.binance.com/api/v3
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "btcusdt=BTC/USDT,ethusdt=ETH/USDT,lunausdt=LUNA/USDT"

  binance-futures:
    type: binance-futures
    stream: binance-futures
    wsUrl: wss://fstream.binance.com/stream
    restUrl: https://fapi.binance.com/fapi/v1
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "btcusdt=BTC/USDT,BTCUSDT_240628=BTC/USD_240628,ethusdt=ETH/USDT,
                  adausdt=ADA/USDT,XLMUSDT=XLM/USDT,ETCUSDT=ETC/USDT,LINKUSDT=LINK/USDT"

  binance-dlv:
    type: binance-futures
    stream: binance-futures
    wsUrl: wss://dstream.binance.com/stream
    restUrl: https://dapi.binance.com/dapi/v1
    depth: 50
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "dotusd_perp=DOT/USD,LINKUSD_PERP=LINK/USD_PERP,ETHUSD_PERP=ETHPC,ETHUSD_240329=ETH/USD_240329,
                  MANAUSD_PERP=MANA/USD,SOLUSD_PERP=SOL/USD"

  kucoin:
    stream: kucoin
    wsUrl: wss://ws-api.kucoin.com/endpoint
    restUrl: https://api.kucoin.com/api/v1
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "REQ-BTC=REQ/BTC,REQ-ETH=REQ/ETH,DEXE-BTC=DEXE/BTC,DEXE-USDT=DEXE/USDT,SOUL-BTC=SOUL/BTC,
    btc-usdt=BTC/USDT,eth-usdt=ETH/USDT,eth-btc=ETH/BTC,ltc-usdt=LTC/USDT,doge-usdt=DOGE/USDT,
    mana-usdt=MANA/USDT,XRP-USDT=XRP/USDT,LTC-USDT=LTC/USDT"

  deribit:
    stream: deribit
    wsUrl: wss://test.deribit.com/ws/api/v2
    depth: 20
    model:
      - "L1"
      - "L2"
      - "TRADES"
    instruments: "ada_usdc-perpetual=ADA/USDC,avax_usdc-perpetual=AVAX/USDC,sol_usdc-perpetual=SOL/USDC,xrp_usdc-perpetual=XRP/USDC"

  uniswap:
    stream: uniswap
    type: uniswap
    model:
      - "CUSTOM"
    modelTypes:
      - "com.epam.deltix.data.uniswap.FactoryAction"
      - "com.epam.deltix.data.uniswap.BundleAction"
      - "com.epam.deltix.data.uniswap.PoolAction"
      - "com.epam.deltix.data.uniswap.TokenAction"
      - "com.epam.deltix.data.uniswap.PositionAction"
      - "com.epam.deltix.data.uniswap.TickAction"
      - "com.epam.deltix.data.uniswap.SwapAction"
      - "com.epam.deltix.data.uniswap.MintAction"
      - "com.epam.deltix.data.uniswap.BurnAction"
      - "com.epam.deltix.data.uniswap.CollectAction"
      - "com.epam.deltix.data.uniswap.FlashAction"
      - "com.epam.deltix.data.uniswap.TransactionAction"
      - "com.epam.deltix.data.uniswap.PositionSnapshotAction"
      - "com.epam.deltix.data.uniswap.UniswapDayDataAction"
      - "com.epam.deltix.data.uniswap.TokenDayDataAction"
      - "com.epam.deltix.data.uniswap.TokenHourDataAction"
    instruments: "USDC/WETH=USDC/WETH"

  uniswap-l2:
    stream: uniswap-l2
    type: uniswap
    depth: 50
    amount: 100
    model:
      - "L2"
    instruments: "USDC/WETH=USDC/WETH,USDC/WBTC=USDC/WBTC,USDC/SUSHI=USDC/SUSHI"
